*{
    padding: 0;
    margin: 0;
}
.main{
    padding: 0 40px 0 40px;
}

.cmt,.mba{
    color:white;
    height: 45px;
    background-color: rgb(31, 40, 71);
    padding-top: 1px;
    padding-bottom: 15px;
    padding-left: 165px;
}

.tool1{
    background-color: rgba(109, 158, 214, 0.589);
    height: 275px;
    padding-top: 20px;

}

h3{
    font-weight: strong;
    font-size: 24px;
    padding-top: 15px;
}
p{
    padding-top: 20px;
    font-size: 20px;
}
.tool1 button{
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
    height: 50px;
    width: 180px;
    text-align: left;
    padding-left: 12px;
    font-size: 17px;
    border-radius: 7px;
}
.tol1{
    background-color:  rgba(100, 161, 231, 0.726);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    width: 75px;
    font-size: 18px;
}
.tool2{
    background-color: rgba(250, 164, 3, 0.986);
    height: 275px;
    padding-top: 20px;
}
.tool2 button{
    margin-top: 40px;
    margin-left: 0;
    padding: 0;
    height: 50px;
    width: 180px;
    text-align: left;
    padding-left: 12px;
    font-size: 17px;
    border-radius: 7px;
}

.tol2{
    background-color:  rgba(245, 187, 79, 0.986);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
    width: 75px;
    font-size: 18px;
}
img{
    height: 150px;
    padding-right: 100px;
    padding-top: 50px;
    position: relative;
    background: transparent;
}
.content{
    float:left;
    padding-left: 165px;
}
@media all and (max-width:600px) {
    .tool1,.tool2{
        height: 400px;
        width: 537px;
    }
    .mba,.cmt{
        height: 45px;
        width: 337px;
    }
    .main{
        padding: 0 40px 0 40px;
    }
    
}
